<div class="container-fluid">
  
  <div class="contenedor-datos-iniciales row">
    <div class="col-xs-12 text-center">
      <h2>Datos iniciales</h2>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="input-group">
        <span class="input-group-addon">VP generador</span>
        <input ng-model="datosgenerador.voltajeprimario" type="number" class="form-control" placeholder="voltaje primario">
        <span class="input-group-addon">V</span>
      </div>
      <div class="input-group">
        <span class="input-group-addon">VS generador</span>
        <input ng-model="datosgenerador.voltajesecundario" type="number" class="form-control" placeholder="voltaje secundario">
        <span class="input-group-addon">V</span>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="input-group">
        <span class="input-group-addon">Cantidad de transformadores: </span>
        <input ng-model="numTransformadores"
          ng-change="updateTransformadores();"
          type="number" class="form-control"
          placeholder="Escriba el número de transformadores">
      </div>
      <div class="input-group">
        <button class="button btn" type="button" ng-click="show();">Print data on console!</button>
      </div>
    </div>
  </div>

  <div class"contenedor-transformadores row">
    <div class="contenedor-transformador col-xs-12 col-md-6" ng-repeat="transformador in transformadores">
      <div class="wrapper-transformador row">
        
        <h3>Transformador: {{transformador.id}}</h3>
        <div class="form-group contenedor-tipo-transformador">
          <label for="exampleFormControlSelect1">Configuración de conexión: </label>
          <input class="form-check-input" ng-model="transformador.tipo" type="radio" ng-value="configConexion.mono">
          <label>Monofásico</label>
          <input class="form-check-input" ng-model="transformador.tipo" type="radio" ng-value="configConexion.bi">
          <label>Bifásico</label>
          <input class="form-check-input" ng-model="transformador.tipo" type="radio" ng-value="configConexion.tri">
          <label>Trifásico</label>
        </div>
        <div class="form-group contenedor-datos-transformador">
          <label>Datos del transformador: </label>
          <div class="input-group">
            <input ng-model="transformador.voltajeprimario"
              type="number" class="form-control" placeholder="Voltaje primario">
            <span class="input-group-addon">V</span>
          </div>
          <div class="input-group">
            <input ng-model="transformador.voltajesecundario"
              type="number" class="form-control" placeholder="Voltaje secundario">
            <span class="input-group-addon">V</span>
          </div>
          <div class="input-group">
            <input ng-model="transformador.factordepotencia"
              type="number" class="form-control" placeholder="factor de potencia">            
          </div>
          <br><span>Corriente secundaria : {{transformador.corrientesecundaria}} A</span><br>
          <br><span>Corriente primaria : {{transformador.corrienteprimaria}} A</span><br>
          <br><span>Potencia aparente : {{transformador.potenciaaparente}} W</span><br>
          <br><span>Potencia activa secundaria : {{transformador.potenciaactivasecundaria}} VA</span><br>
          <br><span>Potencia reactiva secundaria : {{transformador.potenciareactivasecundaria}} VAR</span><br>
          <br><span>Potencia activa primaria : {{transformador.potenciaactivaprimaria}} VAR</span><br>
          <br><span>Potencia reactiva primaria : {{transformador.potenciareactivaprimaria}} VAR</span><br>          
        </div>
        <div class"form-group contenedor-correccion-potencia">
          <span>¿Desea hacer la corrección de factor de potencia?</span>
          <span> <input ng-model="transformador.correccion"
            class="form-check-input" type="checkbox"></span>
          <br>
          <div ng-if="transformador.correccion">
            <div class="input-group">
              <input ng-model="transformador.factorPotenciaDeseado"
                ng-change="calcularValoresCorreccionTransformador(transformador.id)"
                type="number" class="form-control" placeholder="Factor de potencia deseado">            
            </div>
            <br><span>Potencia reactiva deseada : {{transformador.potenciaReactivaDeseada}} VAR</span><br>
            <br><span>Corriente de corrección : {{transformador.corrienteCorreccion}} A</span><br>
            <span>Frecuencia: </span>
            <div class="input-group">
              <input ng-model="transformador.frecuencia"
                type="number" class="form-control" placeholder="Frecuencia">            
            </div>
            <br><span>DELTA</span><br>
            <br><span>Xc : {{transformador.deltaXc}} Ohm</span><br>
            <br><span>C : {{transformador.deltaC}} F</span><br>
            <br><span>ESTRELLA</span><br>
            <br><span>Xc : {{transformador.estrellaXc}} F</span><br>
            <!--
            <br><span>C : {{transformador.estrellaC}} A</span><br>
            -->
          </div>
        </div>
        <!-- External conections for each transformer -->
        <span>Conexiones a otros transformadores: </span>
        <label ng-repeat="transformadorExtId in transformadoresIds" ng-if="transformadorExtId != transformador.id">
          <input
            type="checkbox"
            value="{{transformadorExtId}}"
            ng-checked="transformador.conexionesExternas.indexOf(transformadorExtId) > -1"
            ng-click="actualizarConexionesTransformador(transformador.id, transformadorExtId)">
            {{transformadorExtId}}
        </label>
        <br>
        <button class"btn button" ng-click="calcularValoresTransformador(transformador.id);">Calcular valores transformador!</button>
        <hr>
        <div ng-if="transformador.voltajeprimario > 0 && transformador.voltajesecundario > 0 && transformador.factordepotencia > 0"
            class="input-group">
          <span class="input-group-addon">Cantidad de motores: </span>
          <input ng-model="transformador.numeromotores" ng-change="updatemotores(transformador.id);" type="number" class="form-control"
          placeholder="Escriba el número de motores">
        </div>
        <hr>
        <!-- Motors for each transformer-->
        <div ng-if="transformador.voltajeprimario > 0 && transformador.voltajesecundario > 0 && transformador.factordepotencia > 0"
          class="contenedor-motor col-xs-12 col-md-6" ng-repeat="motor in transformador.motores">
          <div class="wrapper-motor">
            <h3>Motor: {{motor.id}}</h3>
            <div class="form-group contenedor-tipo-motor">
              <label for="exampleFormControlSelect1">Configuración de conexión: </label>
              <br> 
              <input  class="form-check-input" ng-model="motor.tipo" type="radio" ng-value="configConexion.mono">
              <label>Monofásico</label>
              <input class="form-check-input" ng-model="motor.tipo" type="radio" ng-value="configConexion.bi">
              <label>Bifásico</label>
              <input class="form-check-input" ng-model="motor.tipo" type="radio" ng-value="configConexion.tri">
              <label>Trifásico</label>
              <br>  
              <label>Datos del motor: </label>
              <br><span>Voltaje : {{motor.voltaje}} V</span><br>
              <div class="input-group">
                <input ng-model="motor.factordepotencia" type="number" class="form-control" placeholder="Factor de Potencia"
                  min="0" max="1">
                <span class="input-group-addon">(fp > 0 <=1)</span>
              </div>                         
              <div class="input-group">
                <input ng-model="motor.corriente" type="number" class="form-control" placeholder="Corriente">
                <span class="input-group-addon">A</span>
              </div>
              <div class="input-group">
                <input ng-model="motor.potenciaaparente" type="number" class="form-control" placeholder="Potencia aparente">
                <span class="input-group-addon">W</span>
              </div>
              <div class="input-group">
                <input ng-model="motor.potenciaactiva" type="number" class="form-control" placeholder="Potencia activa">
                <span class="input-group-addon">VA</span>
              </div>
              <div class="input-group">
                <input ng-model="motor.potenciareactiva" type="number" class="form-control" placeholder="Potencia reactiva">
                <span class="input-group-addon">VAR</span>
              </div>     
              <div class"form-group contenedor-correccion-potencia">
                <span>¿Desea hacer corrección del factor de potencia?</span>
                <span> <input ng-model="motor.correccion" class="form-check-input" type="checkbox"></span>
                <div ng-if="motor.correccion">
                  <div class="input-group">
                    <input ng-model="motor.factorPotenciaDeseado"
                      ng-change="calcularValoresCorreccionMotor(transformador.id, motor.id)"
                      type="number" class="form-control" placeholder="Factor de potencia deseado">            
                  </div>
                  <br><span>Potencia reactiva deseada : {{motor.potenciaReactivaDeseada}} VAR</span><br>
                  <br><span>Corriente de corrección : {{motor.corrienteCorreccion}} A</span><br>
                  <span>Frecuencia: </span>
                  <div class="input-group">
                    <input ng-model="motor.frecuencia"
                      type="number" class="form-control" placeholder="Frecuencia">            
                  </div>
                  <br><span>DELTA</span><br>
                  <br><span>Xc : {{motor.deltaXc}} Ohm</span><br>
                  <br><span>C : {{motor.deltaC}} F</span><br>
                  <br><span>ESTRELLA</span><br>
                  <br><span>Xc : {{motor.estrellaXc}} F</span><br>
                  <!--
                  <br><span>C : {{motor.estrellaC}} A</span><br>
                  -->
                </div>
              </div>
              <button class"btn button" ng-click="calcularValoresMotor(transformador.id, motor.id);">Calcular valores motor!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>